.footer {
	min-height: 350px;
	background: url(../img/bg/footer-background.jpg) center (center/cover) no-repeat, url(../img/bg/footer-gradient-background.jpg) center (center/cover) no-repeat;
	&__wrapper {
		padding-top: 40px;
		display: grid;
		grid-template-columns: 279px 301px 300px;
		column-gap: 160px;
	}
	&__title {
		margin-top: 16px;
		margin-bottom: 0;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.06em;
		color: var(--color-light-xl);
	}
	&__link {
		display: block;
		position: relative;
		margin-top: 45px;
		text-decoration: none;
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		span {
			display: block;
			padding-left: 60px;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 20px;
			line-height: 115%;
			letter-spacing: 0.06em;
			color: var(--color-primary);
			&:hover {
				color: var(--color-light-xl);
				transition: 0.5s;
			}
		}
	}
	&__map {
		display: block;
		position: relative;
		margin-top: 34px;
		text-decoration: none;
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		span {
			display: block;
			padding-left: 42px;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 20px;
			line-height: 115%;
			letter-spacing: 0.06em;
			color: var(--color-primary);
			&:hover {
				color: var(--color-light-xl);
				transition: 0.5s;
			}
		}
	}
	&__img {
		width: 100%;
	}
}