.in-addition {
    min-height: 462px;
    background: var(--color-light-l);
    &__wrapper {
        display: grid;
        grid-template-columns: 505px 380px;
        column-gap: 30px;
        justify-content: center;
        padding: 80px 0 100px;
    }
    &__img {
        margin-top: 11px;
        width: 100%;
    }
    &__content {
        &_title {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: var(--color-dark-l);
        }
        &_subtitle {
            margin-top: 20px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: var(--color-dark-l);
        }
        &_bank {
            position: relative;
            display: block;
            margin-top: 20px;
            border-radius: 9px;
            border: 1px solid var(--color-primary);
            width: 349px;
            height: 43px;
            background: var(--color-primary);
            text-decoration: none;
            &:hover {
                width: 349px;
                height: 43px;
                background: var(--color-primary-light);
                border-radius: 9px;
                transition: 0.5s;
            }
            span {
                display: block;
                padding: 10px 15px 10px 59px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 115%;
                letter-spacing: 0.06em;
                color: var(--color-dark-l);
            }
            img {
                position: absolute;
                top: 0;
                left: 15px;
                transform: translateY(50%);
            }
        }
        &_descr {
            margin-top: 20px;
            font-family: var(--second-family);
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: var(--color-dark-m);
        }
    }
}